// Neutral Colors

$black:         #263238;
$gray:          #717171;
$dark-gray:     #4d4d4d;
$light-gray:    #89939e;
$gray-blue:     #abbed1;
$silver:        #f5f7fa;
$white:         #ffffff;


// Colors

$primary:       #43a046;
$secondary:     #263238;
$info:          #2194f3;

// Colors Shade

$shade-1:       #43a046;
$shade-2:       #388e3b;
$shade-3:       #237d31;
$shade-4:       #1b5e1f;
$shade-5:       #103e13;